---
layout: master
---
<div class='home_box' id='home_left'>
    {% if page.previous %}
      <a href='{{ page.previous.url }}' id="previous-link">&lt;&lt;Previous</a>
    {% endif %}
    {% if page.next %}
      <a href='{{ page.next.url }}' id="next-link">Next &gt;&gt;</a>
    {% endif %}
  <div class='post'>
    <h1><a href='{{ page.url }}'>{{ page.title }}</a></h1>
    <div class='date'>posted {{ page.date | date: "%Y-%m-%d" }}</div>
    <div class='body'>
      {% if page.via %}
        <p>via <a href="{{ page.via_url }}" title="{{ page.via_title }}">{{ page.via }}</a></p>
      {% endif %}
    
      {{ content }}
    </div>
    {% comment %}
    <div class='tags'>{{ post.categories | join: " " }}</div>
    {% endcomment %}
  </div>
</div>