<!DOCTYPE html >
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} - {{ site.name }}</title><head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
   <div class="wrapper">
      <header>
        <h1>Test</h1>
        <p>testing</p>
        <p class="view"><a href="https://github.com/jamesfoster">View the Project on GitHub <small>jamesfoster</small></a></p>
        <ul>
          <li class="single"><a href="https://github.com/jamesfoster/jamesfoster.github.io">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <section>

        {{ content }}

      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
